:root{
    --first-color: #036b68;
    --second-color:#2c3e50;
    --third-color: #e7e7e7;
    --forth-color:#e99449;
}
*{
    box-sizing: border-box;

}
body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width:100%;

}
header p:first-child{
    margin-top:0;
    margin-bottom:0;
    padding:5px;
    text-align: center;
    font-size:14px;
    color:var(--third-color);
    background-color: var(--second-color);
}
.upper-container{
    width:100%;
    height:60vh;
}

.upper-container-a{
    height:100%;
    width:100%;
    background:linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)), url('./img/background-img-1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    position:relative;
  /*  animation: wallpaper 10s forwards linear infinite;*/ 
}

.sign-in-container{
    background-color: white;
    width:20%;
    height:300px;
    position:absolute;
    right:10px;
    top:46px;
    background-color: rgb(243, 241, 241);
    border-radius: 5px;
    display:none;
}
.sign-in-container h2{
    text-align: center;
    margin:10px;
}
.sign-in-container img{
    width:10px;
    position: absolute;
    right:10px;
    top:18px;
    margin-right:3px;
}
.sign-in-container img:hover{
    cursor:pointer;
}
.sign-in-container input[type=text]{
    display:block;
    margin:auto;
    font-size:15px;
    padding-left:5px;
    margin-bottom:10px;
    width:95%;
    height:35px;
    border: 1px solid grey;
    border-radius:10px;
    background: transparent;
}
.sign-in-container input:focus{
    outline:none;
}
.sign-in-container a{
    color: grey;
    font-size:11px;
    position: relative;
    margin-left:55px;
}
.checkbox{
    width:95%;
    margin:auto;
    margin-top:-8px;
    display: flex;
    align-items: center;
    margin-bottom:15px;
}
.checkbox span{
    color:var(--second-color);
    font-size:12px;
}

.text-container{
    position:relative;
    top:20%;
    color:rgb(211, 211, 211);
    width:50%;
    margin:auto;
    text-align: center;
}
.text-container h1{
    font-size:3vw;
}
.text-container p{
    font-size:1.3vw;
}


.sign-in-btn{
    background:transparent;
    border:1.5px solid var(--forth-color);
    font-size: 18px;
    color:var(--forth-color);
    width:75px;
    height:30px;
    transition: all 0.5s;
    background-color:var(--second-color);
    position:relative;
    left:90%;
    top:10px;
}
.sign-in-btn:focus{
    outline:none;
}
.sign-in-btn:hover{
    cursor:pointer;
    transform: scale(1.1);
}
.sign-in-container button{
    display:block;
    width:90%;
    height:40px;
    font-size:18px;
    border:2px solid var(--forth-color);
    margin:10px auto;
    background-color: var(--second-color);
    color:var(--forth-color);
    border-radius: 10px;
    transition: all 0,5s;
}
.sign-in-container button:focus{
    outline:none;
}
.sign-in-container button:hover{
    cursor: pointer;
    background-color: var(--forth-color);
    color:var(--second-color);
    border-color: var(--second-color);
}
.bottom-container{
display:flex;
align-items: center;
background-color:var(--third-color);
padding-left:5%;
height:50px;
position: relative;
}
.bottom-container h2{
    font-size:2vw;
    margin-right:70px;

}
.bottom-container nav ul{
    display:flex;
    list-style-type: none;
    padding-left:0;
    height:100%;
}
.bottom-container nav{
    display: block;
}
.bottom-container nav ul li{
    font-size:1.4vw;
    height:100%;
    padding:10px 14px;

}
.bottom-container nav ul li:after {
    display:block;
    content: '';
    border-bottom: 2px solid var(--first-color);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
.bottom-container nav ul li:hover{
    color:var(--forth-color);
    cursor: pointer;
}
.bottom-container nav ul li:hover:after{
    transform: scaleX(1);   
}

.search-bar-container{
    display:flex;
    align-items: center;
    height:32px;
    position: absolute;
    right:20px;
}
.search-bar-container input{
    width:15vw;
    padding-left:7px;
    height: 100%;
}
.search-bar-container input:focus{
    outline:none;
}
.search-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:grey;
    height: 100%;
    width:30px;
}
.search-bar-container img{
    width:20px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:2;
  }
  
  .dropdown-content a {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a:hover{
        color:var(--forth-color);
        background-color:var(--second-color);
        
    }
    .second-dropdown{
        display:inline-block;
    }
.lenses-content{
    display:none;
    padding:15px;
    z-index:2;
    right:0;
    left:0;
    width:80vw;
    margin:auto;
}
.second-dropdown:hover .lenses-content{
    display:flex;
}
.lenses-content img{
    width:40%;
    height:auto;
    margin-right:10px;
    
}
.lenses-container h2{
    color:var(--first-color);
}
.lenses-container button{
    padding:12px;
    background-color:var(--second-color);
    border: 2px solid var(--forth-color);
    color:var(--forth-color);
    display:block;
    margin:auto;
    font-size:15px;
    font-weight:bold;
    transition: all 0.5s;
}
.lenses-container button:hover{
cursor: pointer;
background-color: var(--third-color);
}
main{
    margin-top:10vh;
}




/*fading effect*/
.fading-container div{
opacity:0;
transition: 0.3s opacity;
}
.container-1{
    position:relative;
}
.section-title{
display:flex;
justify-content: center;
color:var(--first-color);
}
.section-title::after{
    content:'';
    border-bottom: 2px solid var(--second-color);
    opacity:0.5;
    width:50%;
    position:absolute;
    top:65px;
}

.glasses-container{
}
.glasses-container-a{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:60%;
    margin:auto;

}
.glasses-container-a span{
    margin-left:5px;
    font-weight:bold;
    font-size:18px;
    color:var(--second-color);
}

.glasses-container-a div{
    display:flex;
    padding:20px;
    width:20%;
    height:70px;
    margin:auto;
    transition: all 0.5s;
    }
.glasses-container-a div:hover{
    box-shadow:0 0 5px;
    cursor:pointer;
}

.glasses-container-a img{
    width:50%;
    height:auto;
}
.top-sales-container{
    position:relative;
}
.top-sales-container img{
    width:100%;
    height:100%;
}

.top-sales{
    display:flex;
    width:80vw;
    height:250px;
    justify-content: space-around;
    margin:auto;
}

.top-sales .sales-items{
    width:30%;
    height:100%;
    display: block;
    border:1px solid grey;
    position:relative;
    transition: all 0.5s;
}
.sales-items:after{
content:'';
position: relative;
bottom:35px;
left:70%;
font-size:20px;
font-weight:bold;
color:rgb(83, 81, 81);
}

.sale-item-1:after{
content:'AED 570';
}
.sale-item-2:after{
    content:'AED 200';
    }
.sale-item-3:after{
     content:'AED 320';
}
.sale-item-3:before{
content:'30% discount';
color:rgba(255, 0, 0, 0.774) !important;
position: absolute;
top:87%;
left:3%;
font-size:20px;
font-weight:bold;
color:rgb(83, 81, 81);
}
.sales-items:hover{
    cursor:pointer;
    box-shadow: 0 0 8px;
}
.advertisment-container-1{
width:90vw;
height:75vh;
margin:80px auto;
display:flex;
justify-content: space-between;
}
.advertisment-container-1 img{
    width:49%;
    height:100%;
    
}
.glasses-picks-container{
    width:90vw;
    margin:auto;
    position:relative;
}
.item img{
    width:100%;
    height:100%;
}
.item{
    width:100%;
    border:1px solid lightgrey;
    transition:all 0.5s;
}
.item:after{
    content:'AED 300';
    position: relative;
    bottom:15px;
    left:70%;
    font-size:24px;
    font-weight:bold;
    color:rgb(83, 81, 81);  
}
.picks-container{
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
}
.item:hover{
    cursor:pointer;
    box-shadow: 0 0 8px;
    z-index: 2;
}
.advertisment-container-2{
    width:90vw;
    height:70vh;
    margin:80px auto;
    box-shadow:0 0 3px;
    }
    .advertisment-container-2 img{
        width:100%;
        height:100%;
    }


.pagination-container{
    width:20vw;
    margin:30px auto;
    display:flex;
    justify-content: space-between;
    font-size: 25px;
}
.pagination-container a{
    color:black;
    text-decoration: none;
}
.pagination-container img{
    width:17px;
}
.pagination-container a:last-child{
    transform:rotate(-90deg)
}
.pagination-container a:first-child{
    transform:rotate(90deg)
}
.pagination-container span:hover{
cursor:pointer;
text-decoration: underline;
}

.email-container{
    border:1px solid black;
    border-right:none;
    border-left:none;
    box-shadow: 0 0 4px;
    margin:60px 0;
    text-align: center;
    padding-bottom:20px;
}
.email-container .inner-container{
width:60%;
margin:auto;
}

.email-container input[type = 'email']{
    width:40%;
    height:25px;
}
.email-container input[type = 'submit']{
font-size:15px;
font-weight:bold;
background:white;
border:1px solid black;
width:80px;
height:29px;
transition: all 0.5s;
}
.email-container input[type = 'submit']:hover{
    color:white;
    background:black;
    cursor:pointer;

}

.links-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding-left:20px;
    height:40vh;
    background:#f7f1e3;
    color:black;
    margin:0;
}
.links-container h3{
    padding-bottom:0;
    margin-bottom:0;
}
.links-container div ul li a {
    text-decoration: none;
    color:black;
}
.links-container div ul li {
    list-style-type: none;
    margin-bottom:20px;
}
.links-container div ul{
    padding-left:0;
}
.links-container div ul li a:hover {
    font-weight:bold;
}

.links-container .container-c ul li a img{
    width:22px;
     margin-right:3px;
}
.links-container .container-c ul li a {
display:flex;
align-items: center;

}
.flaticon-link{
    font-size:12px;
    position: absolute;
    background-color: grey;
    width:100%;
    margin:0;
    text-align: end;
}
