:root{
    --first-color: #036b68;
    --second-color:#2c3e50;
    --third-color: #e7e7e7;
    --forth-color:#e99449;
    --fifth-color:rgb(83, 81, 81);
}
*{
    box-sizing: border-box;

}
body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width:100%;

}
header p:first-child{
    margin-top:0;
    margin-bottom:0;
    padding:5px;
    text-align: center;
    font-size:14px;
    color:var(--third-color);
    background-color: var(--second-color);
}
.upper-container{
    width:100%;
    height:65vh;

}

.upper-container-a{
    height:100%;
    width:100%;
    background:linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)), url('./img/background-img-1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    position:relative;
    animation: wallpaper 20s ease-in-out infinite;

}
@keyframes wallpaper{
    0%{
    background:linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)), url('./img/background-img-1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    }

    40%{
        background:linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)), url('./img/background-img-2.jpg');
        background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
        }

    80%{
        background:linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)), url('./img/background-img-3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    }

}


.sign-in-container{
    background-color: white;
    width:230px;
    height:300px;
    position:absolute;
    right:10px;
    top:46px;
    background-color: rgb(243, 241, 241);
    border-radius: 5px;
    display:none;
}
.sign-in-container h2{
    text-align: center;
    margin:10px;
}
.sign-in-container img{
    width:10px;
    position: absolute;
    right:10px;
    top:18px;
    margin-right:3px;
}
.sign-in-container img:hover{
    cursor:pointer;
}
.sign-in-container input[type=text],.sign-in-container input[type=password]{
    display:block;
    margin:auto;
    font-size:15px;
    padding-left:5px;
    margin-bottom:10px;
    width:95%;
    height:35px;
    border: 1px solid grey;
    border-radius:10px;
    background: transparent;
}
.sign-in-container input:focus{
    outline:none;
}
.sign-in-container a{
    color: grey;
    font-size:11px;
    position: relative;
    margin-left:16%;
}
.checkbox{
    width:95%;
    margin:auto;
    margin-top:-8px;
    display: flex;
    align-items: center;
    margin-bottom:15px;
}
.checkbox span{
    color:var(--second-color);
    font-size:11px;
}

.text-container{
    position:relative;
    top:20%;
    color:rgb(211, 211, 211);
    width:60%;
    margin:auto;
    text-align: center;
}
.text-container h1{
    color:var(--forth-color);
}

.sign-in-btn{
    background:transparent;
    border:1.5px solid var(--forth-color);
    font-size: 18px;
    color:var(--forth-color);
    width:75px;
    height:30px;
    transition: all 0.5s;
    background-color:var(--second-color);
    position:relative;
    left:90%;
    top:10px;
}
.sign-in-btn:focus{
    outline:none;
}
.sign-in-btn:hover{
    cursor:pointer;
    transform: scale(1.1);
}
.sign-in-container button{
    display:block;
    width:90%;
    height:40px;
    font-size:18px;
    border:2px solid var(--forth-color);
    margin:10px auto;
    background-color: var(--second-color);
    color:var(--forth-color);
    border-radius: 10px;
    transition: all 0,5s;
}
.sign-in-container button:focus{
    outline:none;
}
.sign-in-container button:hover{
    cursor: pointer;
    background-color: var(--forth-color);
    color:var(--second-color);
    border-color: var(--second-color);
}
.bottom-container{
display:flex;
align-items: center;
background-color:var(--third-color);
padding-left:5%;
height:50px;

}

.bottom-container h2{
    margin-right:70px;

}
.bottom-container nav ul{
    display:flex;
    list-style-type: none;
    padding-left:0;
    height:100%;
}
.bottom-container nav{
    display: block;
}
.bottom-container nav ul li{
    font-size:1.2vw;
    height:100%;
    padding:10px 14px;
    color:var(--fifth-color);
}
.bottom-container nav ul li:after {
    display:block;
    content: '';
    border-bottom: 2px solid var(--first-color);  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
  }
.bottom-container nav ul li:hover{
    color:var(--forth-color);
    cursor: pointer;
}
.bottom-container nav ul li:hover:after{
    transform: scaleX(1);   
}

.search-bar-container{
    display:flex;
    align-items: center;
    height:32px;
    position: absolute;
    right:20px;
}
.search-bar-container input{
    width:15vw;
    padding-left:7px;
    height: 100%;
}
.search-bar-container input:focus{
    outline:none;
}
.search-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:grey;
    height: 100%;
    width:30px;
}
.search-bar-container img{
    width:20px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:2;
  }
  
  .dropdown-content a {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a:hover{
        color:var(--forth-color);
        background-color:var(--second-color);
        
    }
    .second-dropdown{
        display:inline-block;
    }
.lenses-content{
    display:none;
    padding:15px;
    z-index:2;
    right:0;
    left:0;
    width:80vw;
    margin:auto;
}
.second-dropdown:hover .lenses-content{
    display:flex;
}
.lenses-content img{
    width:40%;
    height:auto;
    margin-right:10px;
    
}
.lenses-container h2{
    color:var(--first-color);
}
.lenses-container button{
    padding:12px;
    background-color:var(--second-color);
    border: 2px solid var(--forth-color);
    color:var(--forth-color);
    display:block;
    margin:auto;
    font-size:15px;
    font-weight:bold;
    transition: all 0.5s;
}
.lenses-container button:hover{
cursor: pointer;
background-color: var(--third-color);
}
main{
    margin-top:10vh;
}

.container-1{
    position:relative;
}
.section-title{
display:flex;
justify-content: center;
color:var(--first-color);
}
.section-title::after{
    content:'';
    border-bottom: 2px solid var(--second-color);
    opacity:0.5;
    width:50%;
    position:absolute;
    top:65px;
}


.glasses-container-a{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:60%;
    margin:auto;
}

.glasses-container-a span{
    margin-left:5px;
    font-weight:bold;
    font-size:80%;
    color:var(--second-color);
}

.glasses-container-a div{
    display:flex;
    align-items: center;
    padding:20px;
    width:25%;
    height:70px;
    margin:auto;
    transition: all 0.5s;
    }
.glasses-container-a div:hover{
    box-shadow:0 0 5px;
    cursor:pointer;
}

.glasses-container-a img{
    width:60%;
    height:auto;
    max-height:100%;
}
.top-sales-container{
    position:relative;
}
.top-sales-container img{
    width:100%;
    height:100%;
}

.top-sales{
    display:flex;
    width:65vw;
    height:250px;
    justify-content: space-between;
    margin:auto;
    position:relative;
}

.top-sales .sales-items{
    width:33%;
    height:100%;
    display: block;
    border:1px solid grey;
    position:relative;
    transition: all 0.5s;
}
.sales-items:after{
content:'';
position: relative;
bottom:35px;
left:65%;
font-size:1.5vw;
font-weight:bold;
color:var(--fifth-color);
}

.sale-item-1:after{
content:'AED 570';
}
.sale-item-2:after{
    content:'AED 200';
    }
.sale-item-3:after{
     content:'AED 320';
}
.sale-item-3:before{
content:'30% discount';
color:rgba(255, 0, 0, 0.774);
position:absolute;
bottom:4%;
left:3%;
font-size:1.3vw;
font-weight:bold;
}
.sales-items:hover{
    cursor:pointer;
    box-shadow: 0 0 8px;
}
.advertisment-container-1{
    width:80vw;
margin: 30px auto;
display:flex;
justify-content: space-between;
align-items: center;
}
.advertisment-container-1 img{
    width:49%;
    height:auto;
    max-height:85%;
    box-shadow: 0 0 15px grey;
    
}
.advertisment-content{
    margin-left:15px;
}
.advertisment-content h2{
    text-align: center;
    font-size:2vw;
    color:var(--first-color);

}
.advertisment-content button{
    display:block;
    margin:auto;
    background-color:var(--second-color);
    color:var(--forth-color);
    border:2px solid var(--forth-color);
    padding:10px;
    font-size:1.1vw;
    font-weight: bold;
    transition:all 0.5s;
}
.advertisment-content button:hover{
cursor: pointer;
background-color:white;
transform:scale(1.05);
}
.advertisment-content p{
    font-size:1.5vw;
    color:rgb(99, 98, 98);
}
.glasses-picks-container{
    width:75vw;
    margin:auto;
    position:relative;
}
.item img{
    width:100%;
    height:100%;
}
.item{
    width:100%;
    height:45vh;
    border:1px solid lightgrey;
    transition:all 0.5s;
}
.item:after{
    content:'AED 300';
    position: relative;
    bottom:35px;
    left:70%;
    font-size:1.5vw;
    font-weight:bold;
    color:rgb(83, 81, 81);  
}
.picks-container{
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
}
.item:hover{
    cursor:pointer;
    box-shadow: 0 0 8px;
    z-index: 2;
}
.advertisment-container-2{
    width:85vw;
    height:70vh;
    margin:30px auto;
    box-shadow:0 0 10px grey;
    }
.ad-container-2a{
    width:100%;
    height:100%;
    background:linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)), url('./img/eye-checkup.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    position:relative;
}
.ad-container-2a{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.ad-container-2a p{
    color:var(--third-color);
    font-size:24px;
    font-weight:bold;
    text-align:center;
}
.ad-container-2a button{
    background-color:var(--second-color);
    color:var(--forth-color);
    border:2px solid var(--forth-color);
    padding:10px;
    font-size:16px;
    font-weight: bold;
    transition:all 0.5s;
}
.ad-container-2a button:hover{
    cursor: pointer;
    background-color:white;
    transform:scale(1.05);
    }
.pagination-container{
    width:300px;
    margin:30px auto;
    display:flex;
    justify-content: space-between;
    font-size: 25px;
}
.pagination-container a{
    color:var(--fifth-color);
    text-decoration: none;
}
.pagination-container img{
    width:17px;
}
.pagination-container a:last-child{
    transform:rotate(-90deg)
}
.pagination-container a:first-child{
    transform:rotate(90deg)
}
.pagination-container span:after{
    display:block;
    content: '';
    border-bottom: 2px solid var(--first-color);  
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}
.pagination-container span:hover:after{
    transform: scaleX(1);  

}

.pagination-container a:hover{
cursor:pointer;
color:var(--forth-color);
}

.email-container{
    border:2px solid var(--forth-color);
    border-right:none;
    border-left:none;
    box-shadow: 0 0 4px;
    margin:30px 0;
    text-align: center;
    background-color:var(--second-color);
    min-height:33vh;
    padding-bottom:10px;
}
.email-container .inner-container{
width:60%;
margin:50px auto;
}
.email-container h2{
    color:var(--forth-color);
}
.email-container p{
    color:var(--third-color);
}
.email-container input[type = 'email']{
    width:40%;
    height:28px;
}
.email-container input[type = 'email']:focus{
    outline:none;
}
.email-container input[type = 'submit']{
font-size:15px;
font-weight:bold;
background:var(--forth-color);
color:var(--fifth-color);
border:2px solid var(--second-color);
width:80px;
height:29px;
transition: all 0.5s;
}
.email-container input[type = 'submit']:hover{
    color:var(--forth-color);
    background:var(--third-color);
    cursor:pointer;

}

.links-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding-left:20px;
    height:40vh;
    background:var(--second-color);
    margin:0;
    border-top:3px solid var(--forth-color);
}
.links-container h3{
    padding-bottom:0;
    margin-bottom:0;
    color:var(--forth-color);

}
.links-container div ul li a {
    text-decoration: none;
    color:var(--third-color);
}
.links-container div ul li {
    list-style-type: none;
    margin-bottom:20px;
}


.links-container div ul{
    padding-left:0;
}
.links-container div ul li a:hover {
    color:var(--forth-color);
}

.links-container .container-c ul li a {
display:flex;
align-items: center;

}
.flaticon-link{
    font-size:10px;
    position: absolute;
    background-color: var(--second-color);
    width:100%;
    margin:0;
    text-align: end;
    color:white;
}
.flaticon-link a{
    color:var(--forth-color);
}

@media (max-width:1265px){
    .glasses-container-a div{
    width:30%;

    }
}
@media (max-width:1130px){
    .sale-item-3:before{
        bottom:6%;
    }

}
@media (max-width:885px){

    .top-sales{
        width:75vw;

    }
    .sale-item-3:before{
        bottom:6%;
    }
    .sign-in-btn{
        left:85%;
    }
}
@media (max-width:850px){
    .bottom-container h2{
        margin-right:30px;
    }

}

@media(max-width:700px){
    .picks-container{
        width:100%;
        display:grid;
        grid-template-columns:repeat(2,1fr);
    }
    .upper-container{
        height:50vh;
    }
}
@media(max-width:760px){
.bottom-container nav ul li{
    font-size:1.4vw;
    font-weight:bold;
}
.glasses-container-a{
width:80%;
}
.advertisment-container-1{

    margin: 10px auto;
}
}
@media(max-width:600px){
    .sign-in-btn{
        left:80%;
    }
    .bottom-container h2{
        margin-right:5px;
    }
    .bottom-container{
        padding-left:1%;
    }
    .glasses-container-a{
        width:90%;
        }
        .item{
            height:35vh;
        }
        .flaticon-link{
            text-align:start;
        }
}