:root{
    --first-color: #036b68;
    --second-color:#2c3e50;
    --third-color: #e7e7e7;
    --forth-color:#eba465;
}
*{
    box-sizing: border-box;

}
body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width:100%;
}
header p:first-child{
    margin-top:0;
    margin-bottom:0;
    padding:5px;
    text-align: center;
    font-size:14px;
    color:var(--third-color);
    background-color: var(--second-color);
}
.upper-container{
    width:100%;
    height:70vh;
}

.upper-container-a{
    height:100%;
    width:100%;
    background:linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)), url('./img/background-img-1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    position:relative;
  /*  animation: wallpaper 10s forwards linear infinite;*/ 
}

.sign-in-container{
    background-color: white;
    width:20%;
    height:300px;
    position:absolute;
    right:10px;
    top:50px;
    background-color: rgb(243, 241, 241);
    border-radius: 5px;
    display:none;
}
.sign-in-container h2{
    text-align: center;
    margin:10px;
}
.sign-in-container img{
    width:10px;
    position: absolute;
    right:10px;
    top:18px;
    margin-right:3px;
}
.sign-in-container img:hover{
    cursor:pointer;
}
.sign-in-container input[type=text]{
    display:block;
    margin:auto;
    font-size:15px;
    padding-left:5px;
    margin-bottom:10px;
    width:95%;
    height:35px;
    border: 1px solid grey;
    border-radius:10px;
    background: transparent;
}
.sign-in-container input:focus{
    outline:none;
}
.sign-in-container a{
    color: grey;
    font-size:11px;
    position: relative;
    margin-left:55px;
}
.checkbox{
    width:95%;
    margin:auto;
    margin-top:-8px;
    display: flex;
    align-items: center;
    margin-bottom:15px;
}
.checkbox span{
    color:var(--second-color);
    font-size:12px;
}

.text-container{
    position:relative;
    top:25%;
    color:rgb(211, 211, 211);
    width:50%;
    margin:auto;
    text-align: center;
}

.sign-in-btn{
    background:transparent;
    position: relative;
    left:90vw;
    top:15px;
    border:1.5px solid var(--forth-color);
    font-size: 18px;
    color:var(--forth-color);
    width:75px;
    height:30px;
    transition: all 0.5s;
    background-color:var(--second-color);
}
.sign-in-btn:focus{
    outline:none;
}
.sign-in-btn:hover{
    cursor:pointer;
    transform: scale(1.1);
}
.sign-in-container button{
    display:block;
    width:90%;
    height:40px;
    font-size:18px;
    border:2px solid var(--forth-color);
    margin:10px auto;
    background-color: var(--second-color);
    color:var(--forth-color);
    border-radius: 10px;
    transition: all 0,5s;
}
.sign-in-container button:focus{
    outline:none;
}
.sign-in-container button:hover{
    cursor: pointer;
    background-color: var(--forth-color);
    color:var(--second-color);
    border-color: var(--second-color);
}
.appear{
 display:block;   
}




/*fading effect*/
.fading-container div{
opacity:0;
transition: 0.3s opacity;
}
.container-1{
    margin:auto;
}
.section-title{
text-align: center;
display:inline-block;
transform:translateX(40vw);

}
.section-title::before{
    content:'';
    border-bottom:1px solid grey;
    position:absolute;
    width:30vw;
    top:50%;
    right:110%; 
}
.section-title::after{
    content:'';
    border-bottom:1px solid grey;
    position:absolute;
    width:30vw;
    top:50%;
    left:110%; 
}
.glasses-container{
    margin:auto;
    display:flex;
    width:70vw;
    align-items:center;
}
.glasses-container span{
    margin-left:12px;
    font-weight:bold;
    font-size:20px;
}

.glasses-container div{
    display:flex;
    align-items:center;
    padding:20px;
    width:20%;
    height:70px;
    margin:auto;
    transition: all 0.5s;
    }
.glasses-container div:hover{
    box-shadow:0 0 5px;
    cursor:pointer;
}

.glasses-container img{
    width:60%;
    height:100%;
}
.top-sales-container img{
    width:100%;
    height:100%;;
}
.section-title-2{
transform:translateX(43vw);

}
.top-sales{
    display:flex;
    width:80vw;
    height:250px;
    justify-content: space-around;
    margin:auto;
}

.top-sales .sales-items{
    width:30%;
    height:100%;
    display: block;
    border:1px solid grey;
    position:relative;
    transition: all 0.5s;
}
.sales-items:after{
content:'';
position: relative;
bottom:35px;
left:70%;
font-size:20px;
font-weight:bold;
color:rgb(83, 81, 81);
}

.sale-item-1:after{
content:'AED 570';
}
.sale-item-2:after{
    content:'AED 200';
    }
.sale-item-3:after{
     content:'AED 320';
}
.sale-item-3:before{
content:'30% discount';
color:rgba(255, 0, 0, 0.774) !important;
position: absolute;
top:87%;
left:3%;
font-size:20px;
font-weight:bold;
color:rgb(83, 81, 81);
}
.sales-items:hover{
    cursor:pointer;
    box-shadow: 0 0 8px;
}
.advertisment-container-1{
width:90vw;
height:75vh;
margin:80px auto;
display:flex;
justify-content: space-between;
}
.advertisment-container-1 img{
    width:49%;
    height:100%;
    
}
.glasses-picks-container{
    width:90vw;
    margin:auto;
}
.item img{
    width:100%;
    height:100%;
}
.item{
    width:100%;
    border:1px solid lightgrey;
    transition:all 0.5s;
}
.item:after{
    content:'AED 300';
    position: relative;
    bottom:15px;
    left:70%;
    font-size:24px;
    font-weight:bold;
    color:rgb(83, 81, 81);  
}
.picks-container{
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
}
.item:hover{
    cursor:pointer;
    box-shadow: 0 0 8px;
    z-index: 2;
}
.advertisment-container-2{
    width:90vw;
    height:70vh;
    margin:80px auto;
    box-shadow:0 0 3px;
    }
    .advertisment-container-2 img{
        width:100%;
        height:100%;
    }


.pagination-container{
    width:20vw;
    margin:30px auto;
    display:flex;
    justify-content: space-between;
    font-size: 25px;
}
.pagination-container a{
    color:black;
    text-decoration: none;
}
.pagination-container img{
    width:17px;
}
.pagination-container a:last-child{
    transform:rotate(-90deg)
}
.pagination-container a:first-child{
    transform:rotate(90deg)
}
.pagination-container span:hover{
cursor:pointer;
text-decoration: underline;
}

.email-container{
    border:1px solid black;
    border-right:none;
    border-left:none;
    box-shadow: 0 0 4px;
    margin:60px 0;
    text-align: center;
    padding-bottom:20px;
}
.email-container .inner-container{
width:60%;
margin:auto;
}

.email-container input[type = 'email']{
    width:40%;
    height:25px;
}
.email-container input[type = 'submit']{
font-size:15px;
font-weight:bold;
background:white;
border:1px solid black;
width:80px;
height:29px;
transition: all 0.5s;
}
.email-container input[type = 'submit']:hover{
    color:white;
    background:black;
    cursor:pointer;

}

.links-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding-left:20px;
    height:40vh;
    background:#f7f1e3;
    color:black;
    margin:0;
}
.links-container h3{
    padding-bottom:0;
    margin-bottom:0;
}
.links-container div ul li a {
    text-decoration: none;
    color:black;
}
.links-container div ul li {
    list-style-type: none;
    margin-bottom:20px;
}
.links-container div ul{
    padding-left:0;
}
.links-container div ul li a:hover {
    font-weight:bold;
}

.links-container .container-c ul li a img{
    width:22px;
     margin-right:3px;
}
.links-container .container-c ul li a {
display:flex;
align-items: center;

}
.flaticon-link{
    font-size:12px;
    position: absolute;
    background-color: grey;
    width:100%;
    margin:0;
    text-align: end;
}
